body {
  padding: 0;
  margin: 0;
}

header {
  background: #000;
  border-radius: 0 0 50px 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px rgba(0, 201, 0, 0.708), 0px 10px rgba(0, 201, 0, 0.708);
}

header h1 a {
  font-family: 'calibri';
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 201, 0, 0.708),
    0px 0px 5px rgba(0, 201, 0, 0.708);
  color: #fff;
  text-decoration: none;
  margin: 20px;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding: 0;
  margin-bottom: 50px;
}

header li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 40px;
  background: rgba(0, 201, 0, 0.708);
  border-radius: 10px 10px 2px 2px;
  padding: 5px 10px;
  text-align: center;
  transition: 1s;
}

header li::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #fff;
}

header li a {
  color: rgb(6, 6, 6);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0px 0px;
}

main {
  padding: 10px;
  margin: 40px 0;
}

main h2 {
  font-family: 'calibri';
  font-size: 30px;
  width: 100%;
}

main h2::after {
  position: absolute;
  display: block;
  content: '';
  width: calc(100% - 20px);
  border-bottom: 3px solid rgba(0, 201, 0, 0.708);
}



@media (min-width: 280px) and (max-width: 520px) {
  header ul {
    flex-direction: column;
  }
  form {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    margin-top: 35px;
  }
}

@media (min-width: 521px) {
  form {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin-top: 35px;
  }

  form input,
  textarea,
  select {
    border: none;
    box-shadow: 0px 0px 2px rgb(93, 93, 93);
    border-radius: 3px;
    padding: 10px;
    max-width: 100%;
  }

  #address,
  #city {
    grid-row: 4;
  }

  #phone,
  #email {
    grid-row: 6;
  }

  .fullInput {
    grid-column: 1 / span 2;
  }

  .partialRightInput {
    grid-column: 2 / 3;
  }

  .partialLeftInput {
    grid-column: 1 / 2;
  }
}

form button {
  padding: 10px;
  width: 80px;
  margin: 20px 0;
  border-radius: 6px;
  background: rgba(0, 201, 0, 0.908);
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: #fff;
}

footer {
  display: grid;
  place-content: center;
  position: fixed;
  clear: both;
  height: 50px;
  bottom: 0;
  width: 100%;
  color: #fff;
  background: #000;
  text-align: center;
}

footer p {
  font-size: 10px;
  margin: 15px;
}
